.about-info {
    padding: 100px 0;
}

.about-info h2 {
    font-size: 3.75rem;
    line-height: 80px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
}

.about-info img {
    width: 100%;
}

.AboutImgHead img {
    width: 50%;
}

.business-count {
    padding: 100px 0;
}

.business-count .count-bg {
    background-color: #333333;
    padding: 50px 70px;
}

.business-count .count-bg .count {
    font-size: 3.125rem;
    line-height: 60px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Ganora';
}

.our-team {
    padding: 100px 0;
}

.our-team .team-box {
    text-align: center;
    padding: 0 30px;
}

.img-box {
    position: relative;
    overflow: hidden;
}

.img-box::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 32px;
    width: 80%;
    height: 50%;
    background: linear-gradient(0deg, #000000 -9%, rgba(0, 0, 0, 0) 50.34%);
    margin: 0 auto;
    opacity: 0;
    transition: 0.4s all;
}

.our-team .team-box:hover .img-box::before {
    opacity: 1;
}

.our-team .team-box .team-social {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    transform: translateY(25px);
    transition: 0.4s all;
    opacity: 0;
}

.our-team .team-box:hover .team-social {
    transform: translateY(0px);
    opacity: 1;
}

.our-team .team-box .team-social ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0;
}

.our-team .team-box .team-social ul li a {
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFFCC;
    border-radius: 5px;
    text-decoration: none;
}

.our-team .team-box .team-social ul li a:hover {
    background-color: #ffffff;
}

.our-team .team-box img {
    width: 100%;
}

.our-team .team-box h4 {
    font-size: 1.5rem;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Ganora';
}

.contact-us {
    padding: 100px 0;
}

.contact-us .cu-text a {
    font-size: 3.75rem;
    line-height: 80px;
    font-weight: 400;
    font-family: 'Ganora';
    color: #9C7339;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.contact-us .cu-text a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('/contact-us-pattern.svg');
    background-size: auto;
    background-position: center;
    height: 8px;
    transition: 0.4s all;
    transform: translateX(-425px);
}

.contact-us .cu-text a:hover::after {

    transform: translateX(0px);
}

.contact-us .cu-text a i {
    transition: 0.4s all;
    display: inline-block;
}

.contact-us .cu-text a:hover i {
    transform: rotate(-45deg);
}

.contact-us .cu-text a i {
    font-size: 2.5rem;
}

.top-heading {
    font-size: .875rem;
    font-weight: 600;
    color: #888888;
    letter-spacing: 3px;
    line-height: 22px;
}


@media (max-width: 767px) {

    .business-count .count-bg {
        padding: 50px 40px;
    }

    .contact-us .cu-text a {
        font-size: 3rem;
        line-height: 70px;
    }

    .contact-us .cu-text a i {
        font-size: 2rem;
    }
}